* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  text-align: center;
}

h1{
  font-size: 100px;
  color: rgb(202, 93, 93)
}

.todo-input{
  width: 40%;
  height: 2.5rem;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border:none;
  box-shadow: -5px 5px 10px rgb(204, 202, 202);
  margin-top: 20px;
}

.todo-button{
  width: 5rem;
  height: 2.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  border:none;
  background-color: rgb(202, 93, 93);
  box-shadow: 5px 5px 10px rgb(204, 202, 202);
}

.todo-row{
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:auto;
  height: 3rem;
  border-bottom: 1px solid rgb(214, 210, 210);
}

.checked{
  margin-right: .5rem;
}

.todo-list{
  display: flex;
  align-items: center;
}

.complete{
  color: rgb(197, 192, 192);
  text-decoration: line-through;
}